/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* Saira Stencil One 영어 타이틀 폰트 */

@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

/* font-family: 'Saira Stencil One', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;900&display=swap");

/* font-family: 'Noto Sans KR', sans-serif; */

html {
  font-family: "Noto Sans KR", sans-serif;
  scroll-behavior: smooth;
  background-color: #f4f4f4;
}

.laout {
  /* position: relative; */
}

section {
  width: 1920px;
  height: 100vh;
}

a {
  font-weight: bold;
  color: #fff;
}

#fp-nav {
  width: 5%;
}

#fp-nav.fp-right {
  left: 1%;
  z-index: 130;
}
