/* Fontawesome 4.7 */
/* @import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); */

/* 영어타이틀 (Libre Baskerville) */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
/* font-family: 'Libre Baskerville', serif; */

/* 영어타이틀2 (Cavea) */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
/* font-family: 'Caveat', cursive; */

/* 영어소제목(Roboto) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* 한글폰트(Nanum Gothic Coding) */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans KR', sans-serif; */

html {
}
body{
  font-family: "Noto Sans KR", sans-serif;
  scroll-behavior: smooth;
  background-color: #f4f4f4;
  font-size: 16px;
}
.before-load .layout {
  display: none;
}
.btn-box {
  width: 6.5vw;
  height: 4vh;
  overflow: hidden;
  border: 3px solid #1d6c98;
  position: relative;
  background: transparent;
  text-align: center;
}
.btn-box a.btn {
  padding: 7px;
  line-height: 4vh;
  font-size: 16px;
  color: #1d6c98;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-box a.cover {
  position: absolute;
  top: -15%;
  left: 0;
  width: 120%;
  height: 120%;
  background: #1d6c98;
  border: 3px solid #1d6c98;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
.btn-box:hover a.btn {
  color: #fff;
}
.btn-box:hover a.cover {
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
}

.title {
  position: absolute;
  left: 50%;
  top: 3.6%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
}
.title h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
#intro{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: #282e46;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#intro video{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  vertical-align: baseline;
}
#intro h2{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
  margin: 0 auto;
  padding: 0 20vw;

  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-transform: uppercase;
  text-align: left;

  font-size: 20vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
  background: rgb(255, 255, 255);
  mix-blend-mode: screen;
  animation: introText 3.5s forwards;
}
#intro h2 span{
  font-size: 17vw;
  display: block;
}
@-webkit-keyframes introText {
  0%,
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes introText {
  0%,
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.laout {
  /* position: relative; */
}

section {
  width: 1920px;
  height: 100vh;
  position: relative;
}
a {
  font-weight: bold;
  color: #fff;
}
#fp-nav {
  width: 5%;
}
#fp-nav.fp-right {
  left: 1%;
  z-index: 130;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  z-index: 500;
}
.header .inner {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.header .inner span {
  display: block;
  font-size: 38px;
}
.menu-box {
}
.menu-box .menu-btn {
  position: relative;
  z-index: 1100;
  width: 32px;
  height: 28px;

  cursor: pointer;
}
.menu-box .menu-btn span {
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #000;
}
.menu-box .menu-btn span:nth-child(1) {
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu-box .menu-btn span:nth-child(3),
.menu-box .menu-btn span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu-box .menu-btn span:nth-child(4) {
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu-box .menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 18vh 0;

  width: 20vw;
  height: 100vh;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  background: #83d4ff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu-box .menu li {
  margin: 30px auto 30px;
  width: 51%;
  font-size: 42px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  transition: 0.3s;
}
.menu-box .menu li:nth-of-type(1) {
  margin: 0 auto 30px;
}
.menu-box .menu li:hover{
  color: #282e46;
}

/* active */
.menu-box .menu-btn.active span:nth-child(1),
.menu-box .menu-btn.active span:nth-child(4) {
  top: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateY(-50%);
  opacity: 0;
}
.menu-box .menu-btn.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.menu-box .menu-btn.active span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.menu-box .menu-btn.active + .menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* active */

/* sec1 */
.sec1 {
  background: #b7dfee;
}
.sec1 .inner{
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.sec1 .inner .images{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.sec1 .inner .images img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  animation-fill-mode: both;
}
.scale-img06,
.scale-img01 {
  animation: scale-img01 5s;
}
.scale-img01{
  z-index: 70;
}
.scale-img02{
  z-index: 60;
}
.scale-img03{
  z-index: 50;
}
.scale-img03,
.scale-img02 {
  animation: scale-img02 2.3s;
}
.scale-img04 {
  animation: scale-img04 2.3s;
  z-index: 40;
}
.scale-img05 {
  animation: scale-img05 2.3s;
}
.scale-img07 {
  animation: scale-img06 2.3s;
}
@-webkit-keyframes scale-img01 {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }
}
@keyframes scale-img01 {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }
}
@-webkit-keyframes scale-img02 {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
}
@keyframes scale-img02 {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
}
@-webkit-keyframes scale-img04 {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes scale-img04 {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes scale-img05 {
  0%{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100%{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
}
@keyframes scale-img05 {
  0%{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100%{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
}

@-webkit-keyframes scale-img07 {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes scale-img07 {
  0%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.sec1 .inner .desc{
  animation: title-up-01 2.4s both;
  animation-delay: 0.8s;
  z-index: 45;
  text-align: center;
}
.sec1 .inner .desc h2{
  font-family: 'Caveat', cursive; 
  font-weight: 900;
  font-size: 78px;
  color: #fff;
  filter: drop-shadow(0 0 8px #fff);
  margin-bottom: 4vh;
  padding-top: 8vh;
}
.sec1 .inner .desc span{
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
@-webkit-keyframes title-up-01 {
  0%,
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes title-up-01 {
  0%,
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/* sec2 */
.sec2{
  position: relative;
}
.about-items{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .about-items{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.about-items .item{
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-items .item .image{
  width: 17.5vw;
  overflow: hidden;
}
.about-items .item .image img{
  width: 100%;
  border-radius: 10px;
}
.about-items .item .profile{
  padding: 0 10vw 0 4vw;
}
.about-items .item .image.active,
.about-items .item .profile.active,
.about-items .item nav.active{
  transform: translateX(0);
  opacity: 1;
}
.about-items .item .image,
.about-items .item .profile{
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.about-items .item .image,
.about-items .item .profile,
.about-items .item nav{
  -webkit-transition: 1s;
  -webkit-transition-delay: 0.35s;
  transition: 1s;
  transition-delay: 0.35s;
  opacity: 0;
}
.about-items .item .profile h3{
  width: 4vw;
  margin-bottom: 25px;
  padding-bottom: 26px;
  border-bottom: 2px solid rgb(48, 48, 48);
  font-size: 32px;
}
.about-items .item .profile p{
  line-height: 2;
  font-weight: 700;
}
.about-items .item .profile p span{
  font-weight: 400;
}
.about-items .item h3{
  font-size: 25px;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
}
.about-items .item p{
  font-size: 18px;
  font-weight: 400;
}
.about-items .item p a{
  font-weight: 400;
  color: #000;
  font-weight: 700;
}  
.about-items .item nav{
  transform: translatex(100%);
}
.about-items .item nav h3{
  margin-bottom: 2vh;
}
.about-items .item nav h3:nth-of-type(2){
  margin-top: 5vh;
}
.about-items .item nav p{
  font-size: 16px;
  margin: 1vh 0;
}
.about-items .item nav p:nth-of-type(3){
  font-weight: 700;
}
.about-items .item nav p:nth-of-type(4){
  font-weight: 700;
  margin-top: 2vh;
}
.about-items .item nav p span{
  font-weight: 400;
  display: block;
  line-height: 1.4;
}
.about-items .item nav p span:nth-of-type(1){
  font-size: 14px;
  font-weight: 500;
  margin: 0.5vh 0;
}
/* .sec2 {
}
.about-me{
  overflow: hidden;
}
.about-me .text {
  position: absolute;
  width: 100%;
  display: block;
  font-size: 158px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #282e46;
  -webkit-transition: 1.15s;
  transition: 1.15s;
  opacity: 0.3;
}
.about-me .text.about {
  left: -22vw;
  top: 9.5vh;
}
.about-me .text.me {
  left: 50vw;
  bottom: 12vh;
  -webkit-text-stroke: 7px #282e46;
  color: #fff;
  z-index: 20;
}
.about-me .inner {
  width: 76vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-me .inner .image {
  position: relative;
  z-index: 15;
  width: 22vw;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0;
}
.about-me .inner .image img {
  width: 100%;
}
.about-me .inner .desc {
  display: flex;
  justify-content: space-between;
}
.about-tiems{
}
.about-tiems:nth-child(1) {
  margin-right: 7vw;
}
.about-tiems .item{
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0.3;
}
.about-tiems .item h2 {
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-bottom: 2vw;
  text-transform: uppercase;
}
.about-tiems .item p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.8vw;
}
.about-tiems .item01 {
  margin-bottom: 5vh;
}
.about-tiems .item02 p:nth-child(3),
.about-tiems .item01 p:nth-child(6) {
  margin-bottom: 0;
}
.about-tiems .item01 p span {
  font-weight: 500;
  color: #000;
}
.about-tiems .item01 p a{
  color: #000;
}

.about-tiems .item03 nav strong {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  display: block;
}
.about-tiems .item03 nav span {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin: 0.5vh 0;
}
.about-tiems .item03 nav p {
  line-height: 1.3;
  margin-top: 1.4vh;
}
.about-tiems .item03 nav:nth-child(2) p {
  margin-bottom: 5vh;
}
.about-me .text.about.active{
  left: -2vw;
}
.about-me .text.me.active{
  left: 33vw;
}
.about-me .text.about.active,
.about-me .text.me.active{
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.about-me .inner .image.active{
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  border-radius: 5%;
  -webkit-transition: 2s;
  transition: 2s;
}
.about-tiems .item.active{
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
} */


/* sec3 */
.sec3 {
}
.skills{
}
.skills .inner{
  width: 80vw;
  margin: 10vh auto 0;
  padding-bottom: 5vh;
}
.skills .inner strong{
  display: block;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5vh;
  text-align: center;
}
.skills .inner h2{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.3;
  text-align: center;
}
.skills-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8vh;
}
.skills-items .item{
  width: 45%;
}
.skills-items .item h3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 100%;
}
.skills-items .item h3 span{
  font-size: 22px;
  font-weight: 700;
}
.skills-items .item p{
  font-size: 16px;
  font-weight: 700;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}
.count-box{
  position: relative;
  width: 36vw;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin: 1.8vh 0 2vh;
}
.count-box .count{
  position: absolute;
  top: -4px;
  left: -2px;
  height: 8px;
  background: linear-gradient(-90deg, #76B1C2,#C1DEEE);
  border-radius: 3px;
}
.count-box .count.count-80{
  width: 80%;
}
.count-box .count.count-60{
  width: 60%;
}
.count-box .count.active{
  animation: count 1s linear both;
  animation-delay: 0.4s;
}
.count-box .count.A1{
  animation-delay: 0s;
}
.count-box .count.A2{
  animation-delay: 0.3s;
}
.count-box .count.A3{
  animation-delay: 0.3s;
}
.count-box .count.A4{
  animation-delay: 0.6s;
}
.count-box .count.A5{
  animation-delay: 0.6s;
}
.count-box .count.A6{
  animation-delay: 0.9s;
}
@-webkit-keyframes count {
  0%{
      width: 0;
  }
}
@keyframes count {
  0%{
      width: 0;
  }
}

/* sec4, sec5 */
.sec4, 
.sec5 {
}
.portfolio {
}
.portfolio .inner {
  width: 81vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio .inner .desc {
  width: 41.8vh;
  -webkit-transition: 1.3s;
  transition: 1.3s;
  opacity: 0;
}
.portfolio .inner .desc h3 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.portfolio .inner .desc h3 span {
  display: block;
  font-size: 18px;
  margin: 0.8vh 0 4.8vh;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  color: #333;
}
.portfolio .inner .desc .items {
  width: 100%;
}
.portfolio .inner .desc .items .item {
  margin-bottom: 2.8vh;
}
.portfolio .inner .desc .items .item h4 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
.portfolio .inner .desc .items .item h4 span {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  margin-top: 1vh;
  display: block;
}
.portfolio .inner .desc .items .item p {
  width: 18.8vw;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: #555;
  margin: 1vh 0 14.2vh;
}
.portfolio.hollys .inner .desc .items .item p {
  margin: 1vh 0 10vh;
}
.portfolio .inner .image {
  width: 53vw;
  height: 66vh;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 1.15s;
  transition: 1.15s;
  opacity: 0;
  border-radius: 5px;
}
.portfolio .inner .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio.hollys .inner .desc,
.portfolio.golden .inner .image{
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
}
.portfolio.golden .inner .desc,
.portfolio.hollys .inner .image{
  -webkit-transform: translateX(20%);
  transform: translateX(20%);
}
.portfolio.hollys .inner .desc.active,
.portfolio.golden .inner .desc.active,
.portfolio.golden .inner .image.active,
.portfolio.hollys .inner .image.active{
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
/* sec6 */
.sec6 {
}
.clone {
  position: relative;
  width: 100%;
  height: 100vh;
}
.clone-items {
  width: 100%;
  height: 80vh;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clone-item {
  width: 50%;
  height: 100%;
  padding: 100px;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0.3;
  -webkit-transition: 1.3s;
  transition: 1.3s;
}
.clone-item:nth-child(1) {
  margin-left: 5vw;
}
.clone-item:nth-child(2) {
  margin-right: 5vw;
}
.clone-item .image {
  width: 39.5833vw;
  -webkit-transform: rotateY(1deg) rotateZ(-3deg);
  transform: rotateY(1deg) rotateZ(-3deg);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  overflow: hidden;
  border-radius: 5px;

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.clone-item .image:hover {
  -webkit-transform: rotateY(0) rotateZ(0);
  transform: rotateY(0) rotateZ(0);
}
.clone-item .image:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-delay: 1.15s;
  transition-delay: 0.15s;
}
.clone-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.clone-item .desc {
  margin-top: 5vh;
}
.clone-item .desc h3 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin: 0 0 0.5vh;
}
.clone-item .desc h3 span {
  display: block;
  font-size: 14px;
  margin: 0.5vh 0.5vw 2vh 0;
  text-transform: uppercase;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  color: #333;
}
.clone-item .desc h4 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.clone-item .desc h4 span {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  display: block;
  margin: 0.5vh 0 2vh;
}
.clone-item .desc p {
  width: 18.5vw;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: #555;
  margin: 0.5vh 0 5vh;
}
.clone-item.active{
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition-delay: 1.15s;
  transition-delay: 0.3s;
}

/* sec7 */
.sec7 {
  width: 100vw;
  height: 100vh;
  background-color: #bcefff;
}
.sec7 .title h2{
}
.contact .images{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.contact .images img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  animation-fill-mode: both;
}
.footer-img06.active,
.footer-img01.active {
  animation: scale-img01 5s;
}
.footer-img01{
}
.footer-img02{
}
.footer-img03{
}
.footer-img03.active,
.footer-img02v {
  animation: scale-img02 2.3s;
}
.footer-img04.active {
  animation: scale-img04 2.3s;
}
.footer-img05.active {
  animation: scale-img05 2.3s;

}
.footer-img07.active {
  animation: scale-img06 2.3s;
}

.sec7 .inner {
  width: 70vw;
  height: 70vh;
  margin: 0 auto;
  padding: 20vh 0 10vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.sec7 .inner .desc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.sec7 .inner .desc h3{
  font-size: 28px;
  font-weight: 700;
  color: rgb(80, 52, 0);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.sec7 .inner .desc h3 span{
  display: block;
  font-size: 18px;
  margin: 2vh 0 7vh;
  opacity: 0.8;
  line-height: 1.3;
}
.sec7 .inner .desc h4{
  font-size: 24px;
  font-weight: 700;
  color: rgba(80, 52, 0, 0.8);
  line-height: 1.4;
  -webkit-transform: translateX(-40%);
  transform: translateX(-40%);
}
.sec7 .inner .desc h3,
.sec7 .inner .desc h4{
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 0.5;
}
.sec7 .inner .desc h4.active,
.sec7 .inner .desc h3.active{
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.contact-items{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-items li{
  width: 30%;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 1);

  -webkit-transform: translateY(3vh);
  transform: translateY(3vh);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;

}
.contact-items li:hover a{
  color: rgb(123, 107, 180);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-items li a{
  width: 100%;
  height: 100%;
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  border-radius: 15px;
}
.contact-items li.item01 a{
  font-size: 20px;
  font-weight: 700;
}
.contact-items li a span{
  display: block;
  font-size: 20px;
  margin-bottom: 1vh;
}
.contact-items li.active{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.contact-items li.item.item01.active{
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.contact-items li.item.item02.active{
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.contact-items li.item.item03.active{
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.sec7 .serve-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 14px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 20px;
  display: block;
  color: #fff;
}